parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Call to an undefined method thiagoalessio\\TesseractOCR\\TesseractOCR::lang\(\)#'
            path: src/PokemonGoCalc/Services/PokemonNameExtractor.php
